@if (fileContent) {
<div id="container">
  <span id="instructions">Please map each column with the corresponding one.</span>
  <div id="table" [ngStyle]="{ 'grid-template-columns': `repeat(${fileContent.columns.length}, auto)` }">
    <div class="row">
      @for (header of fileContent.columns; track header) {
      <div class="header" [id]="header + '-header'">
        <mat-form-field>
          <mat-select matNativeControl [placeholder]="'- select -'" [value]="getFileColumnNewName(header)">
            <mat-option (click)="onSelectName('None', header)">None</mat-option>
            @for (col of columnNames; track col) {
            <mat-option
              (click)="onSelectName(col, header)"
              [value]="col"
              [title]="col"
              [disabled]="mappedColumns.has(col)"
              >{{ col }}</mat-option
            >
            }
          </mat-select>
        </mat-form-field>
        <div class="file-header">{{ header }}</div>
      </div>
      }
    </div>
    @for (row of fileContent.rows; track row) {
    <div class="row">
      @for (cell of row; track cell) {
      <span class="cell" [id]="cell + '-cell'" [title]="cell">{{ cell | textShorten }}</span>
      }
    </div>
    }
  </div>
  <span class="error-message">{{ error }}</span>
  @if (annotatable) {
  <span class="annotatable-message"
    >Current columns build <strong>{{ annotatable }}</strong></span
  >
  }
</div>
}
