      *, *::before, *::after {
        box-sizing: border-box;
        font-family: "Roboto", system-ui, -apple-system, sans-serif;
      }

      body {
        color: #252e34;
      }
      
      h2 {
        margin-top: 50px;
        margin-bottom: 10px;
      }

      h3,h4 {
        margin-top:0.5em;
        margin-bottom:0.5em;
      }

      table {
        border-collapse: collapse;
        width: 100%
      }

      th {
        background: #ecf1f6;
      }

      td,
      th {
        border: 1px solid #cfd8df;
        padding: 5px 10px;
      }

      tr {
        height: 38px;
      }

      ul {
        list-style-type: '-  ';
        padding-left: 15px;
        margin: 0;
      }

      a {
        text-decoration: none;
        color: #24699E;
      }

      a:hover {
        color: #4C93C9;
      }

      .nowrap {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      #page-header {
        display: flex;
        align-items: center;
        padding: 14px clamp(20px, 10%, 64px);
        border-bottom: 1px solid #e4edf2;
      }

      #page-header a {
        color: #24699E;
        font-weight: 500;
        text-decoration: none;
        transition: color 0.15s ease-out;
        font-size: 18px;
      }

      #page-header a:hover {
        color: #4C93C9;
      }

      .histogram {
        margin-bottom: 16px;
      }

      .histogram-thumbnail {
        max-width: 200px;
        cursor: pointer;
      }

      .text-muted {
        color: #919191;
      }

      .scrollable-table-container {
        max-height: 50%;
        overflow-y: auto;
        width: fit-content;
        margin-bottom: 16px;
      }

      #chromosomes-table {
        border-collapse: separate;
        border-spacing: 0;
      }
      #chromosomes-table th {
        border: 0;
        border-top: 1px solid #cfd8df;
        border-bottom: 1px solid #cfd8df;
        border-right: 1px solid #cfd8df;
      }
      #chromosomes-table td {
        border: 0;
        border-bottom: 1px solid #cfd8df;
        border-right: 1px solid #cfd8df;
      }
      #chromosomes-table th:first-child,
      #chromosomes-table td:first-child {
        border-left: 1px solid #cfd8df;
      }
      #chromosomes-table thead tr:nth-of-type(2) th {
        border-top: none;
      }
      #chromosomes-table thead {
        position: sticky; top: 0; background-color: white;
      }
