{% extends base %}
{% block content %}

{% set description = data.df_description %}

{% if description %}
{{ description }}
{% else %}
<p>Statistics have not been built for this resource.</p>
{% endif %}

{% endblock %}
