{% extends base %}
{% block content %}

{% set score = data.gene_score %}

<h2>Scores ({{ score.score_definitions|length }})</h2>
<div class="scrollable-table-container">  
<table>
      <colgroup>
          <col style="width: 15%">
          <col style="width: 6%">
          <col>
          <col style="width: 220px">
          <col style="width: 15%">
      </colgroup>
      <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Description</th>
            <th>Histograms</th>
            <th>Range</th>
        </tr>
      </thead>

        {% for score_id, score_def in score.score_definitions.items() %}
            <tr>
                <td>{{ score_id }}</td>

                <td>{{ score.value_type }}</td>

                <td>
                    <div>{{ score_def.desc }}</div>
                    {% if score_def.small_values_desc %}
                        <div class="text-muted">
                            {{ "Small values desc: " + score_def.small_values_desc }}
                        </div>
                    {% endif %}
                    {% if score_def.large_values_desc %}
                        <div class="text-muted">
                            {{ "Large values desc: " + score_def.large_values_desc }}
                        </div>
                    {% endif %}
                </td>

                {% set hist = score.get_score_histogram(score_id) %}
                <td>
                {% if hist %}
                    <div class="histogram">
                        <img src="{{score.get_histogram_image_filename(score_id)}}"
                            class="histogram-thumbnail"
                            alt={{ score_id }}
                            title=" {{ score_id | replace(" ", "_") }}"
                            data-modal-trigger="modal-{{ score_id | replace(" ", "_") }}">
                    </div>
                {% endif %}
                </td>

                <td>
                {%- if hist.type != 'null_histogram' %}
                    {{ hist.values_domain() }}
                {%- else -%}
                    NO DOMAIN
                {%- endif -%}
                </td>
            </tr>
        {% endfor %}

        {%- for score_id in score.score_definitions.keys() -%}
            <div id="modal-{{ score_id | replace(" ", "_") }}" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <img src="{{ score.get_histogram_image_filename(score_id) }}"
                        alt="{{ "HISTOGRAM FOR " + score_id }}"
                        title="{{ score_id | replace(" ", "_") }}"
                        style="max-width: min(100%, 800px);">
                </div>
            </div>
        {%- endfor %}
    </table>
    </div>
{% endblock %}
