{% extends base %}
{% block content %}
{% set gsc = data.impl.gene_set_collection %}
<h2>Gene set ID: {{ data["id"] }}</h2>
<h3>Statistics:</h3>
<p>Number of gene sets: {{ data["number_of_gene_sets"] }}</p>
<p>Number of unique genes: {{ data["number_of_unique_genes"] }}</p>
<div style="display: flex; padding-top: 8px;">
    <div style="display: flex; flex-direction: column; align-items: center;">
        <span>Count of genes per gene set</span>
        <div class="histogram">
            <img src="{{ gsc.get_genes_per_gene_set_hist_image_filename() }}"
                style="width: 300px; cursor: pointer;"
                alt={{ data["id"] }}
                title="genes-per-gene-set"
                data-modal-trigger="genes-per-gene-set">
        </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; padding-left: 38px;">
        <span>Count of gene sets per gene</span>
        <div class="histogram">
            <img src="{{ gsc.get_gene_sets_per_gene_hist_image_filename() }}"
                style="width: 300px; cursor: pointer;"
                alt={{ data["id"] }}
                title="gene-sets-per-gene"
                data-modal-trigger="gene-sets-per-gene">
        </div>
    </div>
</div>
<div id="genes-per-gene-set" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <img src="{{ gsc.get_genes_per_gene_set_hist_image_filename() }}"
            alt="genes per gene set histogram"
            title="genes-per-gene-set"
            style="max-width: min(100%, 800px)">
    </div>
</div>
<div id="gene-sets-per-gene" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <img src="{{ gsc.get_gene_sets_per_gene_hist_image_filename() }}"
            alt="genes per gene set histogram"
            title="gene-sets-per-gene"
            style="max-width: min(100%, 800px)">
    </div>
</div>
<div class="scrollable-table-container">
    <table id="gene-sets-table">
        <thead>
            <tr>
                <th>Gene Set</th>
                <th style="width: 110px">Gene Count</th>
                <th>Description</th>
            </tr>
        </thead>
        {%- for gs in gsc.get_gene_sets_list_statistics() -%}
            <tr>
                <td>{{ gs["name"] }}</td>
                <td>{{ gs["count"] }}</td>
                <td>{{ gs["desc"] }}</td>
            </tr>
        {%- endfor -%}
    </table>
</div>
{% if data["format"] == "directory" %}
<h3>Gene sets directory:</h3>
<a href="{{ data["directory"] }}">{{ data["directory"] }}</a>
{% else %}
<h3 style="margin-top: 32px">Gene sets file:</h3>
<a href="{{ data["filename"] }}">{{ data["filename"] }}</a>
{% endif %}
<p>Format: {{ data["format"] }}</p>
{% if data["web_label"] %}<p>Web label: {{ data["web_label"] }}</p>{% endif %}
{% if data["web_format_str"] %}
<p>Web label: {{ data["web_format_str"] }}</p>
{% endif %}
{% endblock %}
