#chromosomes-table {
    border-collapse: separate;
    border-spacing: 0;
}
#chromosomes-table th {
    border: 0;
    border-top: 1px solid #cfd8df;
    border-bottom: 1px solid #cfd8df;
    border-right: 1px solid #cfd8df;
}
#chromosomes-table td {
    border: 0;
    border-bottom: 1px solid #cfd8df;
    border-right: 1px solid #cfd8df;
}
#chromosomes-table th:first-child,
#chromosomes-table td:first-child {
    border-left: 1px solid #cfd8df;
}
#chromosomes-table thead tr:nth-of-type(2) th {
    border-top: none;
}
#chromosomes-table thead {
    position: sticky; top: 0; background-color: white;
}
