{% extends base %}
{% block content %}
<h2>Configuration</h2>
    <p><b>Gene models file:</b> <a href="{{ data.config.filename }}">
    {{ data.config.filename }}
    </a></p>

    <p><b>Format:</b> {{ data.config.format }}</p>
<h2>Statistics</h2>
    <h3>Chromosome statistics</h3>
    <div style="max-height: 50%; overflow-y: auto; width: fit-content">
        <table id="chromosomes-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Transcript number</th>
                    <th>Protein coding transcript number</th>
                    <th>Gene number</th>
                    <th>Protein coding gene number</th>
                </tr>
                <tr>
                    <th>Global</th>
                    <td>{{ '{:,}'.format(data.stats.global_statistic.transcript_number)}}</td>
                    <td>{{ '{:,}'.format(data.stats.global_statistic.protein_coding_transcript_number)}}</td>
                    <td>{{ '{:,}'.format(data.stats.global_statistic.gene_number)}}</td>
                    <td>{{ '{:,}'.format(data.stats.global_statistic.protein_coding_gene_number)}}</td>
                </tr>
            </thead>
            {% for chrom, stat in data.stats.chrom_statistics.items() %}
                <tr>
                    <td>{{ chrom }}</td>
                    <td>{{ '{:,}'.format(stat.transcript_number)}}</td>
                    <td>{{ '{:,}'.format(stat.protein_coding_transcript_number)}}</td>
                    <td>{{ '{:,}'.format(stat.gene_number)}}</td>
                    <td>{{ '{:,}'.format(stat.protein_coding_gene_number)}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
