{% extends base %}
{% block content %}

{% if data["PARS"] %}
<h3>Pseudoautosomal regions:</h3>
{% if data["PARS"]["X"] %}
<p>X chromosome:</p>
<ul>
{% for region in data["PARS"]["X"] %}
<li>{{region}}</li>
{% endfor %}
</ul>
{% endif %}

{% if data["PARS"]["Y"] %}
<p>Y chromosome: </p>
<ul>
{% for region in data["PARS"]["Y"] %}
<li>{{region}}</li>
{% endfor %}
</ul>
{% endif %}
{% endif %}

<h3>{{ "Chromosomes ({0}):".format(data["chromosomes"]|length) }}</h3>
<div class="scrollable-table-container">
    <table id="chromosomes-table">
        <thead>
            <tr>
                <th>Chrom</th>
                <th>Length</th>
                {% for nucleotide in ["A", "T", "C", "G", "N"] %}
                    <th>{{ nucleotide }}</th>
                {% endfor %}
            </tr>
            <tr>
                <th>Global</th>
                <td>{{ '{:,}'.format(data["global_statistic"]["length"]) }}</td>
                {% for nucleotide in ["A", "T", "C", "G", "N"] %}
                    <td>{{ "%0.2f%%" % data["global_statistic"]["nuc_distribution"][nucleotide] }}</td>
                {% endfor %}
            </tr>
        </thead>
        {%- for chrom, length in data["chromosomes"] -%}
            <tr>
                <td>{{ chrom }}</td>
                <td>{{ '{:,}'.format(length) }}</td>
                {% for nucleotide in ["A", "T", "C", "G", "N"] %}
                    {% if data["chrom_statistics"].get(chrom) %}
                        <td>{{ "%0.2f%%" % data["chrom_statistics"].get(chrom).nucleotide_distribution.get(nucleotide) }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {%- endfor -%}
    </table>
</div>
{% if data["global_statistic"] %}
    <h3>Bi-Nucleotide distribution:</h3>
    <table style="width: fit-content;">
        <tr>
            <th>{{ nucleotide }}</th>
            {% for nucleotide in ["A", "T", "C", "G", "N"] %}
                <th>{{ nucleotide }}</th>
            {% endfor %}
        </tr>
        {% for first_nucleotide in ["A", "T", "C", "G", "N"] %}
            <tr>
                <th>{{ first_nucleotide }}</th>
                {% for second_nucleotide in ["A", "T", "C", "G", "N"] %}
                    <td>{{ "%0.2f%%" %  data["global_statistic"]["bi_nuc_distribution"].get(first_nucleotide + second_nucleotide) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}
