{# The page's climb back to the repository root: one directory per
   resource id segment, as for the resource page, plus the `statistics/`
   directory this page is published in (gain#1400). #}
{% set static_root = '../' * (resource.resource_id.count('/') + 2) %}
<html>
  <head>
    <meta charset="utf-8">
    <style>
      {% include "roboto_font.jinja" %}

      body {
        max-width: 1200px;
        margin: 50px auto 100px auto;
        padding: 0 40px;
      }

      {% include "base_styles.jinja" %}

      {% include styles_template %}
    </style>
  </head>
  <body>
      <table>
        <thead>
          <tr>
            <th>Filename</th>
            <th>Size</th>
            <th>md5</th>
          </tr>
        </thead>
        <tbody>
          {%- for entry in data["statistic_files"] %}
          <tr>
            <td class="nowrap">
                <a href='{{entry.name}}'>{{entry.name}}</a>
            </td>
            <td class="nowrap">{{entry.size}}</td>
            <td class="nowrap">{{entry.md5}}</td>
          </tr>
          {%- endfor %}
        </tbody>
      </table>
  </body>
</html>
