
<html>
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;800&display=swap">
    <style>
      body {
        max-width: 1200px;
        margin: 50px auto 100px auto;
        padding: 0 40px;
      }

      {% include "base_styles.jinja" %}

      {% include styles_template %}
    </style>
  </head>
  <body>
      <table>
        <thead>
          <tr>
            <th>Filename</th>
            <th>Size</th>
            <th>md5</th>
          </tr>
        </thead>
        <tbody>
          {%- for entry in data["statistic_files"] %}
          <tr>
            <td class="nowrap">
                <a href='{{entry.name}}'>{{entry.name}}</a>
            </td>
            <td class="nowrap">{{entry.size}}</td>
            <td class="nowrap">{{entry.md5}}</td>
          </tr>
          {%- endfor %}
        </tbody>
      </table>
  </body>
</html>
