<div id="wrapper-container">
  <div id="annotation-container">
    <div class="sticky-elements">
      @if(pipelineStateService.hideComponents()) {
      <button id="show-components" (click)="showComponents()"
        ><span class="material-symbols-outlined show-components-icon">right_panel_open</span></button
      >
      }

      <app-annotation-pipeline></app-annotation-pipeline>
    </div>

    <div id="annotation-component" [style.display]="pipelineStateService.hideComponents() ? 'none' : 'flex'">
      <div>
        @if(isCreationFormVisible) {
        <app-job-creation
          (emitFile)="setFile($event)"
          (emitFileSeparator)="setFileSeparator($event)"
          (emitGenome)="setGenome($event)"
          (emitUpdatedFileHeader)="setUpdatedFileHeader($event)"></app-job-creation>
        <div style="margin-top: 10px">
          <button id="create-button" (click)="autoSavePipeline()" [disabled]="disableCreate()">Create</button>
          <span id="creation-error" class="error-message">{{ creationError }}</span>
        </div>
        } @if(!isCreationFormVisible && currentJob) {
        <div id="result">
          <div id="current-job-info">
            <div>
              <span class="job-name">Job name: {{ currentJob.name }}</span>
              <span class="status-label" [ngClass]="getStatusClass()">{{ currentJob.status }}</span>
            </div>
            @if (currentJob.status === 'success') {
            <div>
              <span id="file-name">{{ currentJob.annotatedFileName }}</span>
              <a id="download-result" [href]="downloadLink" download
                ><span class="material-symbols-outlined download-icon">download</span></a
              >
            </div>
            }
          </div>

          <div id="new-job-section">
            <button id="new-job-button" (click)="showCreateMode()"
              ><span class="material-symbols-outlined">add</span>new job</button
            >
          </div>
        </div>
        }
      </div>
    </div>
  </div>

  @if(isUserLoggedIn) {
  <div
    [style.display]="pipelineStateService.hideComponents() ? 'none' : 'block'"
    id="history-table"
    class="sticky-elements">
    <div>
      <button id="toggle-history" (click)="this.hideHistory = !this.hideHistory"
        ><span
          class="material-symbols-outlined"
          [ngStyle]="{ transform: this.hideHistory ? 'rotate(0deg)' : 'rotate(180deg)' }"
          >right_panel_open</span
        ></button
      >
    </div>
    @if(!hideHistory) {
    <app-jobs-table (jobDelete)="refreshUserQuota()"></app-jobs-table>
    }
  </div>
  }
</div>
