#wrapper-container {
  display: flex;
  justify-content: flex-start;
  margin: 60px 2%;
  max-width: 3000px;
}

#create-button {
  padding: 8px 10px;
  font-size: 16px;
  white-space: nowrap;
  border: none;
  background: #435869;
  border-radius: 10px;
  color: white;
  align-self: flex-end;
}

#create-button:hover {
  background: #5b778c;
  cursor: pointer;
}

#create-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.2rem #b9d3e7;
  border-radius: 4px;
}

#create-button:disabled {
  opacity: 30%;
}

#create-button:disabled:hover {
  cursor: auto;
  background-color: #435869;
}

#annotation-container {
  display: flex;
  flex: 1;
  min-width: 0;
  justify-content: flex-start;
  gap: 50px;
  padding-right: 25px;
}

#new-job-button {
  color: #435869;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 16px;
}

#new-job-button:hover {
  color: #5b778c;
  cursor: pointer;
}

#result {
  margin-top: 0;
}

#current-job-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

#new-job-section {
  border-top: 1px solid #cfd8df;
  margin-top: 10px;
}

.job-name,
#file-name {
  margin-right: 10px;
}

#show-components,
#toggle-history {
  background-color: transparent;
  border: none;
  color: #435869;
  font-size: 15px;
  float: right;
}

#toggle-history {
  float: left;
  margin-top: 0;
  padding: 0;
  position: absolute;
}

#show-components:hover,
#toggle-history:hover {
  cursor: pointer;
  color: #5b778c;
}

#show-components:focus-visible,
#toggle-history:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.2rem #b9d3e7;
  border-radius: 4px;
}

#new-job-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.2rem #b9d3e7;
  border-radius: 4px;
}

#history-table {
  width: fit-content;
  border-left: 1px solid #e1e9ef;
  padding-left: 25px;
}

#annotation-component {
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 0;
  flex-grow: 1;
}

#annotation-component app-job-creation {
  width: 100%;
}

.sticky-elements {
  position: sticky;
  top: 10px;
  height: fit-content;
  flex-shrink: 0;
  width: fit-content;
}

@media (max-width: 1200px) {
  #wrapper-container {
    flex-direction: column;
    margin: 30px 3%;
  }

  #annotation-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-right: 0;
    gap: 40px;
  }

  #history-table {
    display: block !important;
    width: 100%;
    border-left: none;
    border-top: 1px solid #e1e9ef;
    padding-left: 0;
    padding-top: 15px;
    margin-top: 60px;
  }

  #toggle-history {
    display: none;
  }

  #show-components {
    display: none;
  }

  .sticky-elements {
    position: static;
  }

  #annotation-component {
    width: 100%;
  }
}

@media (max-width: 599px) {
  #annotation-container {
    gap: 24px;
  }

  #create-button {
    float: none;
    display: block;
    width: 100%;
    margin-top: 8px;
  }
}
