#wrapper-container {
  display: flex;
  justify-content: flex-start;
  margin: 60px 2%;
  max-width: 3000px;
}

#annotation-container {
  display: flex;
  flex: 1;
  min-width: 0;
  justify-content: flex-start;
  gap: 10px;
  padding-right: 25px;
}

#show-components,
#toggle-history {
  background-color: transparent;
  border: none;
  color: #435869;
  font-size: 15px;
  float: right;
}

#toggle-history {
  float: left;
  margin-top: 0;
  padding: 0;
  position: absolute;
}

.show-icon {
  vertical-align: middle;
  font-size: 22px;
}

#show-components:hover,
#toggle-history:hover {
  cursor: pointer;
  color: #5b778c;
}

#history-table {
  width: fit-content;
  border-left: 1px solid #e1e9ef;
  padding-left: 25px;
}

.sticky-elements {
  position: sticky;
  top: 10px;
  height: fit-content;
  flex-shrink: 0;
  width: fit-content;
}

@media (max-width: 1200px) {
  #wrapper-container {
    flex-direction: column;
    margin: 30px 3%;
  }

  #annotation-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-right: 0;
    gap: 80px;
  }

  #history-table {
    display: block !important;
    width: 100%;
    border-left: none;
    border-top: 1px solid #e1e9ef;
    padding-left: 0;
    padding-top: 15px;
    margin-top: 60px;
  }

  #toggle-history {
    display: none;
  }

  #show-components {
    display: none;
  }

  .sticky-elements {
    position: static;
  }
}
