.mat-mdc-dialog-actions {
  justify-content: flex-end;
}

.label {
  color: #85a2b9;
  font-weight: bold;
}

.data {
  color: #5b778c;
}

.error-block {
  background-color: #ffedef;
  border: 1px solid #d74b59;
  border-radius: 5px;
  color: #252e34;
  padding: 10px;
}

.time {
  color: #85a2b9;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
