.category-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

#page-container {
  margin: 60px 15%;
}

#tables-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

@media (max-width: 600px) {
  #tables-wrapper {
    gap: 24px;
    margin: 32px 5%;
  }
}

.cell {
  background: white;
  padding: 0.75rem 10px;
  text-align: right;
}

.header {
  background: #ecf1f6;
  font-weight: 600;
  color: #374151;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.corner {
  background: #d8e1ea; /* top-left empty corner */
}

h2 {
  margin-bottom: 5px;
}

#note {
  font-style: italic;
  color: #252e34;
  margin-top: 15px;
}

a {
  color: #24699e;
  text-decoration: none;
}

.free-label {
  color: #aabcce;
  font-size: 12px;
  margin-left: 4px;
}
